* body{
	background-color: lightpink;
	margin: 0;
	padding: 0;
}
.home{
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 5px;
}
.card {
	background-color: white;
	width:700px;
	height:400px;
	margin-top: 10%;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0.4px 8px 0 rgba(0, 0, 0, 0.2), 0.6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left{width:57%;
	height: 100%;
	float: left;
	background-color: lightpink;

}
.left img{
	width: 250px;
}
.right{
	float: right;
	width: 40%;
	height: 100%;
	background-color: white;
}

